body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('path/to/your-image.jpg');
    background-size: cover; /* Зображення покриває весь фон */
    background-position: center; /* Центрує зображення */
    background-repeat: no-repeat; /* Не повторює зображення */
    color: #333;
}


header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #007BFF;
}

.hero {
    padding: 100px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

.hero button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.hero button:hover {
    background-color: #0056b3;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.product-card {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h2 {
    font-size: 1.5em;
    margin: 20px 0;
}

.product-card p {
    color: #666;
    font-size: 1em;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
}
